@import url('https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,500i,600,600i,700,700i,800');

body {
    font-family: 'Poppins', sans-serif;
}

div, a, input, h3, h2 {
    font-family: 'Poppins', sans-serif; 
}

.ui.form {
    font-family: 'Poppins', sans-serif; 
}

.ui.form .field .ui.input input, .ui.form .fields .field .ui.input input {
    font-family: 'Poppins', sans-serif;
}

.ui.form textarea {
    font-family: 'Poppins', sans-serif;
}

.ui.basic.modal>.header {
    font-family: 'Poppins', sans-serif;
}

h3.ui.header {
    font-family: 'Poppins', sans-serif;
}
